.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 50px;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1000;
  margin-top: -5px;
}

.footer div svg path {
  margin-bottom: -10px;
}

.social-icons {
  padding-inline-start: 0 !important;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px -10px;
  flex-wrap: wrap;
}

.social-icons li {
  list-style: none;
}

.social-icons li a {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icons li a:hover {
  transform: translateY(-10px);
}
